body {
  padding: 0;
  margin: 0;
}

/* #map, */
body,
html {
  height: 100%;
}

#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 200px;  /* or as desired */
  width: 800px  /* This means "100% of the width of its container", the .col-md-8 */
}