<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About the Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/components/footer.js" type="text/javascript" defer></script>
  <script src="../static/components/header.js" type="text/javascript" defer></script>
  <script src="../static/components/linker.js" type="text/javascript" defer></script>

</head>
<body>



  <header-component></header-component>

  <!-- <div class="jumbotron jumbotron-fluid"> -->
    <div id="world_cup_viz"></div> 
    <div class="container">
      <h1 class="display-4 text-center"style="color:grey"><strong>About this Project</strong></h1>
      <p class= "lead text-center" style="color:blue"><strong>This page explains what the project is about and what was expected by the authors</strong></p>         <hr class="my-4">
      <p> This a Soccer or Futbol analysis project, as one of the most popular sports in the world there is a lot of data produced around it, not only performance related but also about transfers, geography, viewers and more. In this case we analyzed transfers, some performance statistics from some of the most popular players in the world and also data from the biggest event, the World Cup</p>
</div>
<!-- </div> -->

  <links-component></links-component>

  <footer-component></footer-component>
   
</body>
</html>