<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Project Authors</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/components/footer.js" type="text/javascript" defer></script>
    <script src="../static/components/header.js" type="text/javascript" defer></script>
    <script src="../static/components/linker.js" type="text/javascript" defer></script>
  </head>
  
  
  <body>
  
  <header-component></header-component>


    <div class="jumbotron jumbotron-fluid">
        <!-- <div class="container"> -->
          <h1 class="display-4 text-center"style="color:grey"><strong>Project Authors</strong></h1>
          <p class= "lead text-center" style="color:blue"><strong>LaQuita Williams, Kevin Perez, Sam Roiz and Leandro Lima created this website as part of their Data Analytics bootcamp.</strong></p>         <hr class="my-4">
          
    </div>



    <!-- <div class="container">
  
        <div class="row"> -->

          <div class="row">
              <div class="col-sm-12 col-md-3">
                <div class="thumbnail">
                    <a href="https://laquita44.github.io/">
                        <img src="https://avatars.githubusercontent.com/u/91546069?v=4" alt="placeholder image" width="200" height="200"/>
                    </a>                  </div>
                <div class="caption text-center">
                    <p style="color:grey"><strong>LaQuita</strong></p>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                  <div class="thumbnail">
                    <a href="https://github.com/samuelroiz/">
                        <img src="https://avatars.githubusercontent.com/u/89605095?v=4" alt="placeholder image" width="200" height="200"/>
                    </a>                    </div>
                <div class="caption text-center">
                    <p style="color:grey"><strong>Sam</strong></p>
              </div>
              </div>
              <div class="col-sm-12 col-md-3">
                  <div class="thumbnail">
                    <a href="https://github.com/KevinKVNPR/">
                        <img src="https://avatars.githubusercontent.com/u/90887472?v=4" alt="placeholder image" width="200" height="200"/>
                    </a>  
                  </div>
                  <div class="caption text-center">
                      <p style="color:grey"><strong>Kevin</strong></p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-3">
                      <div class="thumbnail">
                        <a href="https://github.com/Leolima539">
                            <img src="https://ca.slack-edge.com/T02ESKY8NN8-U02EW26ESMC-3b84acf00301-512" alt="placeholder image" width="200" height="200"/>
                        </a>  
                      </div>
                      <div class="caption text-center">
                      <p style="color:grey"><strong>Leo</strong></p>        
                </div>
              </div>
          </div>
        </div>
      </div>

          <footer-component></footer-component>
    </body>
    </html>