<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Football Data Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css">

  <script src="../static/components/footer.js" type="text/javascript" defer></script>
  <script src="../static/components/header.js" type="text/javascript" defer></script>
  <script src="../static/components/linker.js" type="text/javascript" defer></script>
</head>


<body>


  <header-component></header-component>
  
  <div id="world_cup_viz"></div> 
  <!-- <div class="jumbotron jumbotron-fluid"> -->
    <!-- <div class="jumbotron jumbotron-fluid"></div> -->
    <div class="container">
      <h1 class="display-4 text-center">The Football Guide!</h1>
    </div>

  <links-component></links-component>

  <footer-component></footer-component>

   
</body>
</html>