<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <meta charset="UTF-8">
    <title>Messi Vs. Ronaldo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
  
    <script src="../static/components/footer.js" type="text/javascript" defer></script>
    <script src="../static/components/header.js" type="text/javascript" defer></script>
    <script src="../static/components/linker.js" type="text/javascript" defer></script>
</head>
<body>

  <header-component></header-component>

  <div id="world_cup_viz"></div> 
  <!-- <div class="jumbotron jumbotron-fluid"> -->
    <!-- <div class="jumbotron jumbotron-fluid"></div> -->
    <div class="container">
      <h1 class="display-4 text-center">Messi Vs. Ronaldo</h1>
    </div>
 <div>
    <div id="plot"></div>
    <script src="../static/js/data.js"></script>
    <script src="../static/js/plots2.js"></script>
  </div>

  <!-- <div class="container">
    <h1 class="display-4 text-center">Messi Assists</h1>
  

  <div>
    <div id="barplot"></div>
    <script src="bar.js"></script>
  </div>
</div> -->
    <links-component></links-component>

  <footer-component></footer-component>
</body>
</html>